<div class="ui-g" style="background-color: #3ea0dc">
  <div class="ui-g-12 topMenu">
    <div class="topMenu__header">
      <i class="fas fa-bicycle" style="margin-right: 12px"></i>
      <h1 i18n>Bikes renting</h1>
    </div>
  </div>
  <main class="main flexJustifyCenter">
    <div class="login default-size-button">
      <div *ngIf="sessionExpired" class="session-expired">
        Session expired
      </div>
      <form role="form" style="padding: 10px" (submit)="login()">

        <div class="login__box">

          <div class="login__header" i18n>Log in</div>

          <div class="alert alert-danger" *ngIf="message">
            <div class="exclamation">!</div>
            {{message}}
          </div>

          <div class="ui-inputgroup">
            <input pInputText type="text" class="login__input" i18n-placeholder placeholder="Login"
                   id="username" name="username" [(ngModel)]="credentials.username"/>
          </div>
          <div class="ui-inputgroup">
            <input pInputText type="password" class="login__input" i18n-placeholder placeholder="Password"
                   id="password" name="password" [(ngModel)]="credentials.password"/>
          </div>

          <button pButton type="submit" label="Log in" class="ui-button login__button" i18n-label></button>
        </div>
        <div class="register-link">
          <span>Don't have an account yet? <span class="register-text" (click)="navigateToRegister()">Register</span></span>
        </div>
      </form>
    </div>
  </main>
</div>


