<div class="contact-component">
    <div class="medium-header">Have some question?</div>
    <div class="big-header">Call Us!</div>
    <div class="contact-data">
        <div>Phone:</div>
        <div>+48 510 586 093</div>
        <div>Mail:</div>
        <div>stefano@xdab.pl</div>
        <div>Youtube:</div>
        <div><a href="https://www.youtube.com/channel/UCv3mh2P-q3UCtR9-2q8B-ZA">www.youtube.com</a></div>
        <div>Twitter:</div>
        <div><a href="https://twitter.com">www.twitter.com</a></div>
        <div>Facebook:</div>
        <div><a href="https://facebook.com">www.facebook.com</a></div>
    </div>
</div>
