<div class="menu">
  <a routerLink="/start/bikes" routerLinkActive="active" i18n class="menu__link">My Bikes</a>
  <a routerLink="/start/stations" routerLinkActive="active" i18n class="menu__link">Stations</a>
  <a routerLink="/start/contact" routerLinkActive="active" i18n class="menu__link">Contact</a>
  <div class="tech-links" *ngIf="techLinkAllowed">
    <a routerLink="/start/malfunctions" routerLinkActive="active" i18n class="menu__link">Malfunctions</a>
    <a routerLink="/start/blockedBikes" routerLinkActive="active" i18n class="menu__link">Blocked Bikes</a>
  </div>
</div>
