.leftMenu {
	width: 224px;
	background-color: #4e5e6d;
	border: none;
	color: #000033;
	margin: 0;
	padding: 15px 0 0 0;
	height: 100%;

	.leftMenu__link {
		color: #a5afbb;
		text-transform: uppercase;
		width: 100%;
		display: block;
		text-decoration: none;
		padding: 10px;
    border-bottom: 1px #677786 solid;
    font-weight: bold;
    transition: .3s ease-in-out color;

		&.active, &:hover {
			color: #ffffff;
		}


	}

}

