.language-info{
  color: #a5afbb !important;
  margin-left: 5px;

  a{
    color: #a5afbb !important;
  }

  .selected{
    color: #4e5e6d !important;
  }

}

.main-view {
  flex-shrink: 1;
  flex-basis: 0;
}
