<div class="malfunctions-component">

  <div class="stations">
    <div class="header">Choose a station to view available bikes</div>

    <div class="filter">
      <input id="filer-stations" value="{{filter}}" type="text" #v placeholder="Filter" (input)="onFilterInput(v.value)">
    </div>

    <div class="stations-container">
      <div class="labels">
        <div class="id">Id</div>
        <div class="description">Description</div>
        <div class="actions">Actions</div>
      </div>
      <div class="station" *ngFor="let s of malfunctions">
        <div class="id">{{s.id}}</div>
        <div class="description">{{s.description}}</div>
        <div class="actions">
          <button class="no" (click)="onDeleteClick(s)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
